<div class="container-fluid" style=" background: #020306f0; margin-top: 35px">
    <div class="container">
      <div class="row" style="padding-top:10px;">
        <div class="col-md-5">
          <br>
          <center>
          <img  style="width:220px" src="https://us.123rf.com/450wm/vichvarupa/vichvarupa2107/vichvarupa210700022/171828547-cute-gray-raccoon-character-cartoon-illustration-isolated-object-on-white-background-vector-eps.jpg?ver=6">
          </center>
        </div>
        <div class="col-md-7">
          <br>
          <h1 style="color: white">PRASHANT SAHU</h1>
                      <p style="color: white"class="dim">I'm self-motivated 3rd year B.tech(CS) Student, I can code in Languages such as Python , SQL , HTML , CSS ,Javascript . I am gaining knowledge in MERN stack.</p>
                      <div class="row">
                          <div class="col-md-6">
                              <h4 style="color:#fcb21b;">Address</h4>
                              <p class="text-white">Naka Chandravadni <br>Pyarelal Member Sahu  ki Gali<br>Lakshar Gwalior 474009</p>
                          </div>
                          <div class="col-md-6">
                              <h4 style="color:#fcb21b;">Contact</h4>
              <p   class="text-white">Mobile: &nbsp +91 7049550252 <br>
                Email: &nbsp sahuprashant52@gmail.com 
              </p>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-6">
                              <h4 style="color:#fcb21b;">PN Infosys Enquiry</h4>
              <p class="text-white">
                Mobile: &nbsp+91 7000846823<br>
                Email:  &nbsppninfosys@gmail.com
                          </p>
                          </div>
                          <div class="col-md-6">
                              <h4 style="color:#fcb21b;">Follow Us</h4>
                 
                <a href="https://www.facebook.com/profile.php?id=100007974889189"> <img src="images/facebook.png" style="height:44px;"></a> &nbsp;&nbsp; <a href="https://www.instagram.com/prashant_trump29/?hl=en"><img src="images/insta.webp" style="height: 44px;"></a> &nbsp;&nbsp; <a href="https://www.linkedin.com/in/prashantsahu29/"><img src="images/link.png" style="height:44px;"></a> &nbsp;&nbsp; <a href="https://www.youtube.com/channel/UCrD5_cAiM2le2d7mj6VRNOQ"> <img src="images/youtube.png" style="height: 44px;"> </a>
  
  
                 
                          </div>
                      </div>
  
                  </div>
              </div>
          </div>
      </div>
      <!-- footer ends here -->
  
      <!-- copyright starts here -->
      <div class="container-fluid bg-dark" style="background-size: cover;">
          <div class="row" style="padding: 5px;">
              <p class="text-center text-white">PRIVACY POLICY | TERMS AND CONDITIONS <br>
           COPYRIGHT © 2022 PRASHANT SAHU  </p>
          </div>
      </div>
        <!-- footer ends here -->