<%- include('header') %>
 
<!--start slider --->
<div class="carousel slide" data-bs-ride="carousel" id="a">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#a" data-bs-slide-to="0" class="active"></button>
      <button type="button" data-bs-target="#a" data-bs-slide-to="1" ></button>
      <button type="button" data-bs-target="#a" data-bs-slide-to="2" ></button>
    </div>
    
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2000">
        <br><br>
        <img src="https://wallpapercave.com/wp/wp8904080.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <br><br>
        <img src="https://wallpapercave.com/wp/wp2465915.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <br><br> 
        <img src="https://www.teahub.io/photos/full/22-221879_-net-full-stack-developer.jpg" class="d-block w-100" alt="...">
      </div>
    </div>


    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>

    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>	
  <!--end slider---->
  

<br>

<!-- div welcome to riddle starts here -->
<div class="container-fluid">
  <div class="container">
    <h1 class="a text-center">PRASHANT SAHU <b style="color: #fbaa1a;"> B.TECH</b></h1>
    <br>


        
        <div class="row">
            <div class="col-md-7">
                <p class="b">
                  I'm self-motivated 3rd year B.tech(CS) Student, I can code in Languages such as Python , SQL , HTML , CSS , Javascript . I am gaining knowledge in MERN Stack. Experienced programmer with a demonstrated history of working in the program development industry. Skilled in English, Writing, Communication, Programming, and Project Management. Strong administrative professional with a Bachelor of Technology - B.Tech focused in CSE from ITM Gwalior.
                  <br>
                  To become a part of globally respected organization by achieving its goals and upgrading my knowledge & skills at the same time
                </p>
                 <br><br>
            </div>

            <div class="col-md-5">
                <img src="https://scontent.fbho3-1.fna.fbcdn.net/v/t1.6435-9/38521754_2135127716763037_4431076772410294272_n.jpg?_nc_cat=110&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=AFXed-mNHwgAX-Pziex&tn=TvApG_QPM5n2JUzZ&_nc_ht=scontent.fbho3-1.fna&oh=00_AT942Iu3hNZXhTYRHI-qEu7lu494TfSaVK8fHaDANQZy7A&oe=622F250F" style="width: 95%;">
            </div>
          </div>
        </div>
</div>
<!-- div welcome to riddle ends here -->
<br>

<%- include('footer') %>